beautifulsoup4==4.6.0
bs4==0.0.1
Django==1.11.1
django-extensions==1.7.9
djangorestframework==3.6.3
html5lib==0.999999999
lxml==3.7.3
numpy==1.12.1
pandas==0.20.1
pydot==1.2.3
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.14.2
six==1.10.0
slackclient==1.0.5
virtualenv==15.1.0
webencodings==0.5.1
websocket-client==0.40.0
